.events{
    background-color: #E4D1B9;
    margin-left: 100px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 500px;
    height: 200px;
  }
  .Log-report{
    background-color: #E4D1B9;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 500px;
    height: 200px;
  }